<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>API_KEY</key>
        <string>AIzaSyC3iQmGlALeXpU5-c5YlbYaRijV62saDds</string>
        <key>GCM_SENDER_ID</key>
        <string>685795310326</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.jorgepaiz.toobudget</string>
        <key>PROJECT_ID</key>
        <string>too-budget</string>
        <key>STORAGE_BUCKET</key>
        <string>too-budget.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:685795310326:ios:bf5a787d5b7c6c4b134ad7</string>
    </dict>
</plist>

