<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>API_KEY</key>
        <string>AIzaSyBocS9Mrv9xh5EmighyaQgF06af7b50QLw</string>
        <key>GCM_SENDER_ID</key>
        <string>1020480815995</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.jorgepaiz.toobudget</string>
        <key>PROJECT_ID</key>
        <string>too-budget---dev</string>
        <key>STORAGE_BUCKET</key>
        <string>too-budget---dev.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:1020480815995:ios:6b3bb9b978dac4265173de</string>
    </dict>
</plist>
